In [1]:
a = input("Enter your first name: ")

print(a[::-1])

Enter your first name: Jayesh
hseyaJ

In [7]:
a = input("Enter your first name: ")
b = input("Enter your last name: ")
c = b + ' ' + a
print(c)

Enter your first name: Jayesh
Enter your last name: Shinde
Shinde Jayesh

In [19]:
pi = 3.14
d = 12
r = d/2
v = pi*r**3*4/3
print(a)

4186.666666666667

In [2]:
values = input('Enter some comma separated values:  ')
list = values.split(',')
print(list)

Enter some comma separated values:  1,3,5,6,9
['1', '3', '5', '6', '9']

In [23]:
rows = int(input("Enter max star to be display on single line "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")
    
    
    
    
    
    
    
## Sir i havent done this when i search online i found this easier.will you please elaborate in next lecture .

Enter max star to be display on single line 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
print("WE,THE PEOPLE OF INDIA, \n\thaving solemnly resolved India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC, REPUBLIC, \n\t\t and to secure all its citizens.")

WE,THE PEOPLE OF INDIA,
	having solemnly resolved India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC, REPUBLIC,
		 and to secure all its citizens.